.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "content1";
    
}

.content1{
    margin: -10px;
    grid-area: content1;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url("/image/bg.jpg");
    background-image: url("/image/bg.jpg");
    background-position: center center;
    background-size: cover;

    
    
}

.pic{
   
    right: 50%;
    top: 25%;
    position: relative;
    box-shadow: 2px 2px 10px black;
   
    
}


.childcontent{
    max-height: 700px !important;
    max-width: 600px !important;
    height: 100%;
    width: 100%;
 
    border: 5px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.859);
    border-radius: 2%;
    
    box-shadow: 6px 15px 18px 2px rgba(0,0,0,0.72);
    -webkit-box-shadow: 6px 15px 18px 2px rgba(0,0,0,0.72);
    -moz-box-shadow: 6px 15px 18px 2px rgba(0,0,0,0.72);
  

}

/*hero text*/
.tech{

    font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
    color: white;
    margin-bottom: 0;
}

.people {
    font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
    color: #0CF807;
    margin-bottom: 0;
}
.logo{
   max-height: 70px;
   height: 100%;
}

.text{
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 10px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150px;
    margin-right: 50px;
    
}

.inputs{
    display: flex; 
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;

    justify-content: center;
    align-items: center;
    
}
.input1{
    margin: 20px;
    padding: 20px;
    border: 1px solid #968e8e76;
    border-radius: 5px;
    background-color: #fff6f6;
    max-width: 480px;
    width: 78%;
    font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
    

    
}

.input1:hover{
    margin: 20px;
    padding: 20px;
    border: 2px solid  #69fe4f;
    border-radius: 5px;
    transition: .3s ease-in !important;
    
}
.input1::placeholder{
    opacity: 40% ;
}




.forgot{
    text-align: right;
    bottom: 100px !important;

   
    
}

.pass{
    font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem);
    margin-right: 58px;
}


.buttons{
  
  
  
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 10px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
   
    max-width: 600px !important;
    max-height: 300px !important;
    height: 100%;

    width: 100%;
    display: flex !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;


  
   
}
.btn1 {
 

    font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
 
    background-color:  #0E4B35;
    color: white;

    
    
    max-width: 470px !important;
    max-height: 60px !important;
    height: 100%;
    width: 100%;
}

.btn1:hover{
    color: #0E4B35;
    background-color: #61ce7900;
    transition: 0.5s ease-in-out;
    border: 3px solid #0E4B35;
    transition: .5s ease-in-out !important;
}


.btn2{
 

    font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid rgb(0, 0, 0);
    background-color:  #00000000;
    color: rgb(0, 0, 0);

    
    max-width: 470px !important;
    max-height: 60px;
    height: 100%;
    width: 100%;
    margin-bottom: 140px;
}

.btn2:hover{
    color: #ffffff;
    background-color: #000000;
    transition: 0.5s ease-in-out;
  
    transition: .5s ease-in-out !important;
}

.lines{
    
    background-color: #000000 !important;
    max-width: 470px !important;
    max-height: 2px !important;
    height: 100%;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.line{
    text-shadow: 2px 2px 10px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
   
   
    background-color: #000000 !important;
    margin-top: 20px;
    margin-bottom: 20px;
}





@media screen and (max-width: 1400px) {
   

    
    
}

@media screen and (max-width: 1200px) {
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
        
        "content1"
       
       
       
        
        
    }

}





@media screen and (max-width: 700px) {
   

    .childcontent{
        max-height: 700px !important;
        max-width: 600px !important;
        height: 100%;
        width: 100%;
     
        border: 5px solid rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0.891);
        border-radius: 2%;
        margin: 20px;
        
        
      
    
    }
    .btn1 {
 


        border-radius: 8px;
        font-family:Arial, Helvetica, sans-serif;
     
        background-color:  #0E4B35;
        color: white;
    
        
        
        max-width: 470px !important;
        max-height: 60px !important;
        height: 100%;
        width: 90%;
    }
    
    .btn2{
 
     
        border-radius: 8px;
        font-family:Arial, Helvetica, sans-serif;
        border: 3px solid rgb(0, 0, 0);
        background-color:  #00000000;
        color: rgb(0, 0, 0);
    
        
        max-width: 470px !important;
        max-height: 60px;
        height: 100%;
        width: 90%;
        margin-bottom: 140px;
    }
    .lines{
    
        background-color: #000000 !important;
        max-width: 470px !important;
        max-height: 2px !important;
        height: 100%;
    
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .inputs{
        display: flex; 
        flex-direction: column;
        margin: 20px;
        margin-top:20px;
    
        justify-content: center;
        align-items: center;
    }    
    .childcontent{
        max-height: 650px !important;
        max-width: 600px !important;
        height: 100%;
        width: 100%;
     
        border: 5px solid rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0.891);
        border-radius: 2%;
        
        
      
    
    }
   
    .logo{
        max-height: 50px;
        height: 100%;
     }
     .input1{
        margin: 20px;
        padding: 20px;
        border: 1px solid #968e8e76;
        border-radius: 5px;
        background-color: #fff6f6;
        max-width: 480px;
        width: 90%;
        font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
        
    
        
    }
    
     
    
}

@media screen and (max-width: 450px) {
   
    .pass{
        margin-right: 20px;
        margin-top: -30px;
    }
    
    
}